<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="/static/cs.css" />
</head>

<body>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <div class="wrapper">
        <ul>
            <li><a href="/Attendance">Attendance</a></li>
            <li><a href="/Adduser">Register User</a></li>
            <li><a href="/Addevent">Register Event</a></li>
            <li><a href="/Users">Display Users</a></li>
            <li><a href="/Events">Display events</a></li>
        </ul>
    </div>


    <form method="post">

        <label>Name of event:</label>
        <input type="text" name="Event_name" id="Event_name" /><br>
        <label>Event Date:</label>
        <input type="date" name="Data_start" id="Data_start" /><br>

        <input type="submit" name=submit value="Submit" />
    </form>

</body>

</html>