<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>

<body>
    <form method="post">
        <label>ID:</label>
        <input type="text" name="Event_id" id="Event_id" /><br>
        <label>Name of event:</label>
        <input type="text" name="Event_name" id="Event_name" /><br>
        <label>Event starts:</label>
        <input type="date" name="Data_start" id="Data_start" /><br>
        <label>Event ends:</label>
        <input type="date" name="Data_finish" id="Data_finish" /><br>

        <input type="submit" name=submit value="Submit" />
    </form>

</body>

</html>