<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>

<body>
    <form method="post">
        <label>ID:</label>
        <input type="text" name="id" id="id" /><br>
        <label>Name:</label>
        <input type="text" name="name" id="name" /><br>
        <label>The RFID code is {{rfid}}</label>
        <input type="text" name="rfid_uid" id="rfid_uid" /><br>
        <input type="submit" name=submit value="Submit" />
    </form>

</body>

</html>