<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="/static/cs.css" />
</head>

<body>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <div class="wrapper">
        <ul>
            <li><a href="/TakeAttendance">Start Attend</a></li>
            <li><a href="/Adduser">Register User</a></li>
            <li><a href="/Addevent">Register Event</a></li>
            <li><a href="/Users">Display Users</a></li>
            <li><a href="/Events">Display events</a></li>
            <li><a href="/Report">Report</a></li>
        </ul>
    </div>
    <div style="margin-top: 10%">

        <form method="POST">
            <button class="buttoni1" type="submit" style=" width: 130px;
             height: 30px;
             background: rgb(7, 7, 153);
             border-radius: 5px;
             margin-left: 47.5%;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #ffffff;
            border: none;
            text-transform: uppercase;">Show Data</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Event ID</th>
                    <th>Event Date</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>