<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="/static/cs.css" />
</head>

<body>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <div class="wrapper">
        <ul>
            <li><a href="/TakeAttendance">Start Attend</a></li>
            <li><a href="/Attendance">Attendance</a></li>
            <li><a href="/Adduser">Register User</a></li>
            <li><a href="/Addevent">Register Event</a></li>
            <li><a href="/Users">Display Users</a></li>
            <li><a href="/Events">Display events</a></li>
        </ul>
    </div>
    <form method="POST" style="margin-top:20%">
        <button class="buttoni" type="submit" style=" 
            width: 130px;
            height: 30px;
            background: rgb(7, 7, 153);
            border-radius: 5px;
            margin-left:47.5%;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #ffffff;
            border: none;
            text-transform: uppercase;"> Start Attendance</button>
        <h1 style="margin-left: 39.5%; margin-top: 5px;">Attendance System Start Here</h1>
    </form>

</body>