<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="/static/cs.css" />
</head>

<body>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <div class="wrapper">
        <ul>
            <li><a href="/Attendance">Attendance</a></li>
            <li><a href="/Adduser">Register User</a></li>
            <li><a href="/Addevent">Register Event</a></li>
            <li><a href="/Users">Display Users</a></li>
            <li><a href="/Events">Display events</a></li>
        </ul>
    </div>

    <form method="POST">
        <input type="submit" value="show data">
    </form>
    <tr>
        <th>ID</th>
        <th>Name</th>

    </tr>
    {% for row in data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
        <td>{{ row[7] }}</td>
        <td>{{ row[8] }}</td>
        <td>{{ row[9] }}</td>
        <td>{{ row[10] }}</td>
    </tr>
    {% endfor %}

</body>